#root {
    width: 100%;
    height: 100vh;
    margin: auto;
}
.connt {
    width: 100%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 28% auto;
    grid-template-rows: 6rem auto 10rem;
    gap: 2px;
}
.d1-header {
    grid-column: 1/3;
}
.d2-progreso {
    grid-row: 2/3;
}
.d3-tablero {
    grid-column: 2/3;
    grid-row: 2/3;
}
.d4-footeer {
    grid-row: 3/4;
    grid-column: 1/3;
}